h1 {
    color:black; 
    font-family: 'Lucida Sans';
}
p {
    color: green;
}
body {
    padding: 35px 40px 40px 40px;
}
#main_header {
    font: bolder; 
    font-family: 'Courier New';
}

.container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
}
#form_title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}