h1 {
    color:black; 
    font-family: 'Lucida Sans';
}
p {
    color: rgb(115, 119, 115);
}
body {
    padding: 35px 40px 40px 40px;
    background-color: rgb(237, 250, 245);
}
#main_header {
    font: bolder; 
    font-family: 'Courier New';
}

.container{
    border-radius: 5px;
    background-color: #e9d2d2;
    padding: 20px;
}
}
#form_title {
    font-family : 'Impact';

}
.topnav{
    background-color: aquamarine;

}
.topnav a.left {
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}
.topnav a.right {
    float: right;
    padding: 0px 14px;
    font-size: 17px;
}
.error {
    color: red;
}
.correct {
    text-align: center;
    padding: 5px 10px;
    font-size: 15px;   
    background-color: rgba(197, 241, 197, 0.932);
    color: grey;
}

input[type = text] {
    width: 90%;
    padding:5px 16px;
    
}
textarea{
    width: 90%;
    padding:5px 16px;
}

input[type = password] {
    width: 100%;
    padding:5px 16px;
}