<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/styles.css') }}">
    <title>Build a Blog </title>
       
</head>
<body>
    <div class="topnav">
        <a class= "left" href="/blog">Home</a>
        <a class= "left" href="/signup">Sign Up</a>
        <a class= "left "href="/newblog">Create New Blog</a>
        <a class= "right" href="/login">Log In</a>
        <a class= "right" href="/logout">Log Out</a>
        
        
    </div>

    <h1 id= "main_header"> Build a Blog </h1>
    {% with messages = get_flashed_messages (with_categories=True) %}
        <ul>
        {% for category,message in messages%}
            <li class="{{category}}"> {{message}} </li>
        {% endfor %}
        </ul>
   
    {% endwith %}


    {% block content%}
    {% endblock %}

</body>
</html>